@import "_variables.scss";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: $red;
  height: 100vh;
}

.side-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 600px;
  height: 100vh;
  background-color: $white;
  color: $red;
  font-weight: 300;
  h1 {
    width: 200px;
    height: 200px;
    font-size: 70px;
    font-weight: 400;
    margin: 70px 50px 80px 50px;
    text-transform: uppercase;
  }
  h3 {
    font-size: 24px;
    width: 300px;
    margin: 50px 50px 20px 50px;
  }
  p {
    width: 350px;
    margin: 0px 50px 30px 50px;
  }
  nav {
    margin: 0px 50px;
    width: 400px;
    ul {
      display: flex;
      flex-wrap: wrap;
    }
    li {
      margin-right: 10px;
      margin-bottom: 15px;
    }
    a {
      color: rgba(0, 0, 0, 0.6);
      text-decoration: none;
      padding-bottom: 4px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    }
    a:hover {
      color: black;
      border-bottom: 1px solid black;
    }
  }
  p:last-child {
    margin-top: 20px;
    width: 350px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 12px;
  }
}

main {
  margin-left: 600px;
  height: 100vh;
  background-color: $red;
  height: 200vh;
  .main__top {
    z-index: 2;
    background-color: $red;
    opacity: 0.95;
    position: fixed;
    width: 840px;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    font-weight: 300;
    color: white;
    padding: 50px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    span,
    a {
      margin-right: 5px;
    }
    a {
      color: #8b2119;
      padding-bottom: 3px;
      text-decoration: none;
      border-bottom: 1px solid #8b2119;
    }
    a:hover {
      color: white;
    }
  }
}

.main__content {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.1) 5%,
      transparent,
      transparent,
      transparent,
      transparent
    )
    $red;
  padding: 80px 70px 80px 70px;
  color: white;
  .main__content-header {
    display: flex;
    justify-content: space-between;
    h1 {
      font-size: 55px;
      font-weight: 600;
    }
    .header__author {
      width: 60%;
      font-weight: 300;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-content: flex-end;
      div:last-child {
        margin-left: 4px;
      }
    }
  }
  .main__content-image {
    .image__entryNumber {
      z-index: 1;
      position: relative;
      top: 60px;
      left: -10px;
      background-color: $buttonRed;
      width: 60px;
      height: 40px;
      font-size: 24px;
      font-weight: 300;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0.5px solid $deepRed;
    }
    .image__entryNumber div:first-child {
      font-size: 12px;
      margin-right: 3px;
    }
    img {
      width: 100%;
      height: 100%;
      margin-bottom: 50px;
      cursor: pointer;
      box-shadow: 0 80px 80px -80px #000, 0 0 12px rgba(0, 0, 0, 0.06),
        inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    }
  }
}

.main__content-rating {
  text-align: end;
  font-size: 18px;
  color: $deepRed;
  font-weight: 500;
  margin-bottom: 50px;
}

.main__content-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $deepRed;
  font-size: 18px;
  font-weight: 500;
}
.main__content-bottom div:last-child {
  padding: 10px;
  cursor: pointer;
  padding: 10px;
  border-bottom: 2px solid $deepRed;
}

.main__content:nth-child(2) {
  margin-top: 100px;
}
