* {
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 8vh;
  background-color: #f8f5f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  .logo {
    cursor: pointer;
    height: 90%;
  }
  nav {
    ul {
      display: flex;
      li {
        margin-right: 10px;
        &:nth-child(1) > span {
          background-color: #deceaa;
        }
        &:nth-child(2) > span {
          background-color: #ba6f46;
        }
        &:nth-child(3) > span {
          background-color: #cca6ec;
        }
        &:nth-child(4) > span {
          background-color: #fd7b40;
        }
        &:nth-child(5) > span {
          background-color: #6d95ce;
        }
        &:nth-child(6) > span {
          background-color: #d4a335;
        }
        &:nth-child(7) > span {
          background-color: #aba869;
        }
        &:nth-child(8) > span {
          background-color: #b3d5a3;
        }
        display: flex;

        span {
          margin-right: 5px;
          width: 15px;
          height: 15px;
          border-radius: 50%;
        }
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
  & div {
    cursor: pointer;
    font-weight: 300;
    font-size: 35px;
    margin-right: 10px;
  }
}

main {
  margin-top: 8vh;
  .posters {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 70vh;
    // grid-template-rows: repeat(4, 1fr);
    .poster {
      cursor: pointer;
      &:hover {
        background-color: #aba869;
        img {
          display: none;
        }
      }
      img {
        width: 100%;
        height: 100%;
        display: block;
      }
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 2fr 1fr;
      p {
        display: none;
        padding: 30px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      div {
        padding: 10px;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-style: italic;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
    }
  }
}
